files:
  "/etc/awslogs/config/auto-app.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/app/current/auto-app.log]
      log_group_name = '/aws/elasticbeanstalk/auto-app-tomcat/auto-app'
      log_stream_name = {instance_id}
      file = /var/app/current/auto-app.log*
